geckodriver.log
.vscode/settings.json
__pycache__/conftest.cpython-311-pytest-7.4.0.pyc
tests/__pycache__/test_registration.cpython-311-pytest-7.4.0.pyc
tests/__pycache__/test_login.cpython-311-pytest-7.4.0.pyc
tests/12
tests/__pycache__/test_account.cpython-311-pytest-7.4.0.pyc
tests/__pycache__/test_constructor.cpython-311-pytest-7.4.0.pyc
tests/__pycache__/test_logout.cpython-311-pytest-7.4.0.pyc
__pycache__/data.cpython-311.pyc
__pycache__/utils.cpython-311.pyc
